Blocks/
Items/
Maps/
Skins/

Scripts/Libs/Kana/

Scripts/Libs/Lethan/

Manialinks/ObstaclePlayer\.xml

Manialinks/ObstacleScores\.xml

Scripts/MapTypes/ShootMania/ObstacleRebornArena\.Script\.txt

Scripts/Modes/ShootMania/ObstacleReborn\.Script\.txt

Media/Private/

Media/Manialinks/custom_gauge\.xml

Media/XML/HorizonAddOn\.xml

Media/XML/HorizonLoadFile\.xml
