{# Generate the top definitions #}
{% macro topdef(type, values) -%}

{% for setting in values %}
declare {{ type }} G_{{ setting }};	
{% endfor %}

{%- endmacro %}

{# Generate getters and setters #}
{% macro getters_setters(type, values) -%}

{% for setting in values %}
{{ type }} Get{{ setting }}() {
	return G_{{ setting }};
}

Void Set{{ setting }}({{ type }} _Value) {
	G_{{ setting }} = _Value;
}

{% endfor %}

{%- endmacro %}


{{ topdef('Integer', Integers) }}
{{ topdef('Boolean', Booleans) }}
{{ topdef('Real', Reals) }}
{{ topdef('Text', Texts) }}

{{ getters_setters('Integer', Integers) }}
{{ getters_setters('Boolean', Booleans) }}
{{ getters_setters('Real', Reals) }}
{{ getters_setters('Text', Texts) }}